
<form #form="ngForm" autocomplete="off" *ngIf="service.formData">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>OrderNo: </label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">#</div>
                    </div>
                    <input name="order_no" #order_no="ngModel" [(ngModel)]="service.formData.order_no" class="form-control" readonly>
                </div>
            </div>
            <div class="form-group">
                <label>Customer: </label>
                <select name="customer_id" #customer_id="ngModel" [(ngModel)]="service.formData.customer_id" class="form-control">
                <option value="0">-Select-</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Payment Method: </label>
                <select name="pay_method" #pay_method="ngModel" [(ngModel)]="service.formData.pay_method" class="form-control">
                    <option value="">-Select-</option>
                    <option value="cash">Cash</option>
                    <option value="card">Card</option>
                </select>
            </div>
            <div class="form-group">
                <label>Grand Total: </label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">$</div>
                    </div>
                    <input name="grand_total" #grand_total="ngModel" [(ngModel)]="service.formData.grand_total" class="form-control" readonly>
                </div>
            </div>
        </div>
    </div>
    <!-- Order Items Table -->
    <br>
    <table class="table table-borderless">
        <thead class="thead-light">
            <th>Food</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>
                <a class="btn btn-sm btn-success text-white" (click)="addOrEditOrderItem(null, service.formData.order_id)" ><i class="fa fa-plus"></i> Add Item</a>
            </th>
        </thead>
        <tbody>
            <tr *ngIf="service.orderItems.length==0">
                <td class="font-italic text-center" colspan="5">
                  No food item selected for this order.
                </td>
              </tr>
            <tr *ngFor="let item of service.orderItems; let i=index">
                <td>{{item.item_name}}</td>
                <td>{{item.item_price}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.total}}</td>
                <td>
                    <a class="btn btn-sm btn-info text-white" (click)="addOrEditOrderItem(i, service.formData.order_id)" ><i class="fa fa-pencil"></i></a>
                    <a class="btn btn-sm btn-danger text-white ml-1" (click)="onDeleteOrderItem( item.order_item_id, i)" ><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="form-group">
        <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
    </div>
</form>
